/* Importation de Tailwind CSS */
@import 'tailwindcss';


body {
  background: #f1f1f1;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

/* 
 * Scrollbar style (exemple personnalisé)
 */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* Classes personnalisées pour les types Pokémon */
.bg-fire {
  background-color: #F57D31; 
}
.bg-water {
  background-color: #6493EB;
}
.bg-bug {
  background-color: #A7B723;
}
.bg-flying {
  background-color: #A98FF0;
}
.bg-electric {
  background-color: #F9CF00;
}
.bg-ghost {
  background-color: #70559B;
}
.bg-poison {
  background-color: #A43E9E;
}
.bg-normal {
  background-color: #AAA67F;
}
.bg-psychic {
  background-color: #FB5584;
}
.bg-steel {
  background-color: #B7B9CE;
}
.bg-rock {
  background-color: #B69E31;
}
.bg-grass {
  background-color: #74CB48;
}

/* Classes de texte personnalisées */
.text-headline {
  font-size: 24px;
}
.text-subtitle1 {
  font-size: 18px;
}
.text-body2 {
  font-size: 14px;
}
.text-caption {
  font-size: 12px;
}
.text-gray-medium {
  color: #757575;
}
.text-gray-700 {
  color: #4a4a4a;
}

/* Classes de texte pour les types Pokémon */
.text-fire {
  color: #F57D31;
}
.text-water {
  color: #6493EB;
}
.text-bug {
  color: #A7B723;
}
.text-flying {
  color: #A98FF0;
}
.text-electric {
  color: #F9CF00;
}
.text-ghost {
  color: #70559B;
}
.text-poison {
  color: #A43E9E;
}
.text-normal {
  color: #AAA67F;
}
.text-psychic {
  color: #FB5584;
}
.text-steel {
  color: #B7B9CE;
}
.text-rock {
  color: #B69E31;
}
.text-grass {
  color: #74CB48;
}